html,
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navajowhite;
}

.box {
    display: flex;
}

.box .inner {
   
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:nth-child(1) {
    background-color: indianred;
    color: darkred;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:nth-child(2) {
    background-color: lightcoral;
    color:rgb(28, 36, 36);
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: animation 5s linear infinite;
}

.box .inner:nth-child(1) span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes animation {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}